<?xml version="1.0" encoding="UTF-8"?>
<config>  
    <chartType>histogram</chartType>
    <chartType>pie</chartType>
    <chartType>line</chartType> 
    <className>createPattern.factoryMethodPattern_2.FileLoggerFactory</className> 
    <class>createPattern.abstractFactoryPattern_3.SpringSkinFactory</class>
</config>